@page "/"
@using static System.Console
<PageTitle>Index</PageTitle>
@inject IJSRuntime JSRuntime
@inject ILogger<Index> Logger

<h1>Hello, world! Current Date/Time=@DateTime.Now.ToString("MMMM dd, yyyy hh:mm:ss.ff tt")</h1>


Welcome to your new app <b>Version 7E merged with Version 6</b>.

<p>built at Thu Mar  9 08:21:47 2023 </p>
<select multiple @ref="selectTasks" @onchange="OnSelectionChangedTaskSelect">
    @foreach (var wtask in tasks)
    {
        <option value="@wtask">@wtask</option>
    }
</select>

<button onclick="@LogSelectedTasks">Display Selections in log</button>

<table class="table table-striped table-hover table-bordered">
    <thead>
    <th>task</th>
    </thead>
    <tbody>
        @foreach (var wtask in selectedTasks)
        {
            <tr>
                <td>
                    @wtask
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    public List<string> tasks = new List<string> { "take out garbage", "walk the dog", "make lunch", "go grocery shopping" };
    ElementReference selectTasks;
    HashSet<string> selectedTasks = new();
    async Task OnSelectionChangedTaskSelect(ChangeEventArgs args)
    {
        selectedTasks = await GetSelections(selectTasks);
    }
    async Task<HashSet<string>> GetSelections(ElementReference elementReference)
    {
        var selections = await JSRuntime.InvokeAsync<List<string>>("getSelectedValues", selectTasks);
        return selections.ToHashSet();
    }

    public void LogSelectedTasks()
    {
        Logger.LogInformation($"selectedTasks={((selectedTasks is not null && selectedTasks.Count>0) ? string.Join(",", selectedTasks) : "<no tasks>")}");
    }
}

